@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-project-purple: #6C2365;
  --color-project-green: #22C55E;
  --color-project-secondary-green: #86EFAC;
  --color-porject-background-gray: #DBDBDB;

}