<div class="flex items-center justify-center font-roboto">
    <div class="bg-white w-[462px] h-[655px] flex item-center justify-center">
        <div class="flex flex-col items-center justify-center space-y-2 text-white font-bold">
            <%= link_to "Importar dados", new_sigaa_import_path, class: "flex items-center justify-center bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302px] h-[43px] no-underline text-white" %>
            <%= link_to "Editar Templates", modelos_path, class: "flex items-center justify-center bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302px] h-[43px] no-underline text-white" %>
            <%= link_to "Enviar Formularios", gestao_envios_avaliacoes_path, class: "flex items-center justify-center bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302px] h-[43px] no-underline text-white" %>
            <%= link_to "Resultados", gestao_envios_avaliacoes_path, class: "flex items-center justify-center bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302px] h-[43px] no-underline text-white" %>
        </div>
    </div>
</div>