<div class="flex items-center justify-center font-roboto">
    <div class="bg-white w-[462px] h-[655px] flex item-center justify-center">
        <div class="flex flex-col items-center justify-center space-y-2 text-white font-bold">
            <button class="bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302] h-[43]"> Importar dados</button>
            <button class="bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302] h-[43]"> Editar Templates</button>
            <button class="bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302] h-[43]"> Enviar Formularios</button>
            <button class="bg-project-secondary-green hover:bg-project-green cursor-pointer w-[302] h-[43]"> Resultados</button>
        </div>
    </div>
</div>