<button
    class=" 
        w-[257px] h-[46px]
        bg-project-purple
        text-white
        font-roboto 
        py-[11px] px-[50px]
        border-b border-transparent
        shadow-lg 
        rounded 
        cursor-pointer 
        gap-[10px] opacity-100"
>
    Avaliações
</button>