<aside data-sidebar-target="view" class="hidden w-[257px] h-[772px] fixed top-[60px] left-[0px] bg-white flex flex-col shadow-lg">
  <nav class="flex-1 flex flex-col">
             <button
        class=" 
              w-full h-[46px]
              bg-white
              text-black 
              font-roboto 
              py-[11px] px-[50px]
              border-b border-transparent
              shadow-lg 
              rounded 
              cursor-pointer 
              gap-[10px] opacity-100">
          Other tab
      </button> 
      
      <button
        class=" 
              w-full h-[46px]
              bg-project-purple
              text-white
              font-roboto 
              py-[11px] px-[50px]
              border-b border-transparent
              shadow-lg 
              rounded 
              cursor-pointer 
              gap-[10px] opacity-100">
          Tab name
      </button>
  </nav>
</aside>