<%# app/views/shared/_flash_messages.html.erb %>
<% flash.each do |type, message| %>
  <% alert_class = case type.to_sym
       when :notice then 'bg-green-100 border-green-400 text-green-700'
       when :alert, :error then 'bg-red-100 border-red-400 text-red-700'
       else 'bg-blue-100 border-blue-400 text-blue-700'
     end %>
  
  <div class="flash-message mb-4 border-l-4 p-4 <%= alert_class %>" role="alert">
    <div class="flex justify-between items-center">
      <div>
        <p class="font-medium"><%= message %></p>
      </div>
      <button type="button" class="text-lg" onclick="this.parentElement.parentElement.remove()">
        &times;
      </button>
    </div>
  </div>
<% end %>